/* Shared css */
body {
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {

    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* Nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;


}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin: 50px;
}

li a {
    text-decoration: none;
    color: #474747;

}

/* Header related css */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 150px;
}

.banner-content {
    /*Q.1 Background theke image keno shore gelo */
    max-width: 500px;
}

.banner img {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin: 5px;

}

.banner-title {
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}

.banner-discription {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;

}

/* Main section styles */
/*  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}


/* About  sections styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;

}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {

    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
}

.info-discription {
    color: #474747;
    font-weight: 700;
}

#what-i-description {
    padding: 30px 150px;

}

/* Skills section */
.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-discription {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

/* Resume section */
.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 30px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.reseme-item-discription {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

.resume-container hr {
    margin: 30px;
    background: #D1D1D1;
}

.doownload-cv {
    margin-top: 50px;
    text-align: center;
}